<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dropdown_Menu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD7E94811E4F302400418925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7E949A1E4F302500418925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD7E94A51E4F302500418925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
